/* .example-full-width {
    width: 100%;
    padding-top:14px;
  }
  .loginform{
    width: 32vw;
    display: flex;
    position: absolute;
    top: 30%;
    left: 40%;
  }
  .mat-button{
      background-color:#006272;
      color: #FDDA24 !important;
  }
  .title{
      color: #006272;
      font-size:16px;
      font-weight: 600;
      margin-bottom:16px;;
  }
  .submit{
      left:40%;
      margin-top:16px;
  }
  .mat-form-field-label{
      background-color: #FDDA24 !important;
  }
  .mat-form-field .mat-primary .mat-form-field-underline{
    background-color: #FDDA24 !important;
  } */

  

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form .matInput {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.mat-form-field{
  display: block;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}


body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}